nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 250px;
  background-color: #1b1f3b;
  color: #f5e6ca;

  a {
    text-decoration: none;
    color: #f5e6ca;
    font-weight: bold;

    &:hover {
        color: #f6ce84;
    }
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-underline-offset: none;
    width: 100%;

    .brand-logo {
      color: #0077B6;
      font-weight: 900;
      font-size: 38px;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      gap: 40px;
      font-weight: 600;
      font-size: 18px;
    }

    li {
      list-style: none;
      text-decoration: none;
    }
  }
}
